<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.picspy.firstapp" >

    <uses-sdk
        android:maxSdkVersion="21"
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- TODO veriy that you can chage adjustPan to adjustResize -->
        <activity
            android:name="com.picspy.views.RegisterActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.picspy.views.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        <activity
            android:name="com.picspy.views.Splash_Activity"
            android:configChanges="orientation"
            android:label="@string/title_activity_splash_"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="com.picspy.views.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.picspy.views.CameraActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

            <!-- configure these activity to use portrait orientation -->
        </activity>
        <activity
            android:name="com.picspy.views.CreateChallengeActivity"
            android:parentActivityName="com.picspy.views.CameraActivity"
            android:theme="@style/create_challenge"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.picspy.views.FriendInfoActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_friend_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.picspy.views.ChallengesActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_challenges"
            android:parentActivityName="com.picspy.views.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.picspy.views.MainActivity" />

        <activity
            android:name="com.picspy.views.SettingsActivity"
            android:label="title_activity_settings" >
        </activity>
        <activity
            android:name="com.picspy.views.FindFriendsActivity"
            android:label="@string/title_activity_find_friends"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName="com.picspy.views.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.picspy.views.MainActivity" />
        </activity>
    </application>

</manifest>
